1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
l=[]
for i in range (1,101):  
  if i%3==0 and i%5==0: l.append('MickeyMouse')
  elif  i%3==0: l.append('Mickey') 
  elif  i%5==0: l.append('Mouse')
  else: l.append(str(i))
for item in l:
  print(item)

for i,item in enumerate(l):
  if item=='Mickey':l[i]='Donald'
  elif item=='Mouse':l[i]='Duck'
tup=tuple(l)
print(tup)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap(x,y):
  x,y = y,x
  return x,y

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math
def distance(u,v):
  return math.sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
s=s.lower()
d={}
for c in s:
  if c in d.keys(): d[c]+=1
  else: d[c]=1

print(d)

{'w': 1, 'r': 16, 'i': 13, 't': 18, 'e': 21, ' ': 40, 'a': 6, 'p': 7, 'o': 12, 'g': 0, 'm': 11, 'h': 8, 'n': 9, 's': 8, 'u': 8, 'b': 4, 'f': 9, '1': 1, '0': 1, '.': 1, 'l': 5, 'c': 2, 'k': 1, 'y': 1, 'd': 2, 'v': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_counting(l:list):
  d={}
  for n in l:
    if n in d.keys(): d[n]+=1
    else: d[n]=1
  uniques=[]
  for n in d.keys():
    if d[n]==1:uniques.append(n)
  return uniques, len(uniques)

print(unique_counting(l))

([58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53], 37)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [25]:
def square(n):
  return n**2
def cube(n):
  return n**3
def six_power(n):
  return cube(square(n))

print(six_power(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [27]:
l=[]
for x in range(10):
  l.append(x**3)

l1=[x**3 for x in range(10)]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [29]:
l=[]
for a in range(100):
  for b in range(a+1,100):
    for c in range(b+1,100):
      if a**2 + b**2 == c**2: l.append((a,b,c))
tup= tuple(l)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [31]:
def normalization(tup):
  sum=0
  for i in tup:
    sum+=i**2
  norm=math.sqrt(sum)
  return tuple(item/norm for item in tup)

tup=normalization((1,1,1,1))