# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:\n", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs:
 a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [4]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [5]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [6]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.698462
b   -0.113547
c    0.644480
d    1.791505
e    0.350142
dtype: float64
a         NaN
b   -0.227095
c    1.288960
d    3.583009
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [7]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [8]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [10]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-09-11':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00    11.007208
2020-09-12 14:45:00    11.283110
2020-09-13 14:45:00     9.106832
2020-09-14 14:45:00    10.708026
Freq: D, dtype: float64

2020-09-11 14:45:00    11.007208
2020-09-12 14:45:00    11.283110
2020-09-13 14:45:00     9.106832
2020-09-14 14:45:00    10.708026
2020-09-15 14:45:00     7.258405
2020-09-16 14:45:00     9.048590
2020-09-17 14:45:00    10.120374
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [11]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [12]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2020-11-09 14:45:00 -0.532964  0.035866  0.747826 -0.541964
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844
2020-11-09 17:45:00  0.061784 -0.168499  0.369034 -1.763627
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  1.494471
2020-11-09 19:45:00  1.160540 -0.709525  0.525870 -1.371707
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  0.219588
2020-11-09 21:45:00 -0.729279  1.310025  0.140836 -1.058700
2020-11-09 22:45:00  2.499982  0.619067  0.498644 -0.194807
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  0.028666

or by means of a dictionary:

In [13]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [14]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00 -0.532964  0.035866  0.747826 -0.541964
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844
2020-11-09 17:45:00  0.061784 -0.168499  0.369034 -1.763627
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  1.494471

In [15]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  0.219588
2020-11-09 21:45:00 -0.729279  1.310025  0.140836 -1.058700
2020-11-09 22:45:00  2.499982  0.619067  0.498644 -0.194807
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  0.028666

In [16]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-0.53296375,  0.03586614,  0.7478263 , -0.5419637 ],
       [-1.99849239,  0.7096097 ,  0.99004218, -1.12715106],
       [-1.19281761,  0.45222333,  2.05411116, -0.31084421],
       [ 0.06178426, -0.16849912,  0.36903388, -1.76362738],
       [-1.26557628, -0.68819864,  0.0617255 ,  1.49447078],
       [ 1.1605397 , -0.70952531,  0.5258696 , -1.37170691],
       [ 1.2386474 ,  0.07470544, -0.2081779 ,  0.21958784],
       [-0.72927927,  1.31002472,  0.14083639, -1.05870049],
       [ 2.49998229,  0.61906712,  0.49864364, -0.19480678],
       [ 1.17050929, -0.54816488,  0.31536752,  0.02866617]])

In [19]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.041233   0.108711   0.549528  -0.462608
std     1.426818   0.666839   0.629533   0.940095
min    -1.998492  -0.709525  -0.208178  -1.763627
25%    -1.076933  -0.453248   0.184469  -1.110038
50%    -0.235590   0.055286   0.433839  -0.426404
75%     1.168017   0.577356   0.692337  -0.027202
max     2.499982   1.310025   2.054111   1.494471

In [20]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,-0.532964,-1.998492,-1.192818,0.061784,-1.265576,1.160540,1.238647,-0.729279,2.499982,1.170509
B,0.035866,0.709610,0.452223,-0.168499,-0.688199,-0.709525,0.074705,1.310025,0.619067,-0.548165
C,0.747826,0.990042,2.054111,0.369034,0.061726,0.525870,-0.208178,0.140836,0.498644,0.315368
D,-0.541964,-1.127151,-0.310844,-1.763627,1.494471,-1.371707,0.219588,-1.058700,-0.194807,0.028666

In [21]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00 -0.541964  0.747826  0.035866 -0.532964
2020-11-09 15:45:00 -1.127151  0.990042  0.709610 -1.998492
2020-11-09 16:45:00 -0.310844  2.054111  0.452223 -1.192818
2020-11-09 17:45:00 -1.763627  0.369034 -0.168499  0.061784
2020-11-09 18:45:00  1.494471  0.061726 -0.688199 -1.265576
2020-11-09 19:45:00 -1.371707  0.525870 -0.709525  1.160540
2020-11-09 20:45:00  0.219588 -0.208178  0.074705  1.238647
2020-11-09 21:45:00 -1.058700  0.140836  1.310025 -0.729279
2020-11-09 22:45:00 -0.194807  0.498644  0.619067  2.499982
2020-11-09 23:45:00  0.028666  0.315368 -0.548165  1.170509

In [22]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  0.219588
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  1.494471
2020-11-09 21:45:00 -0.729279  1.310025  0.140836 -1.058700
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  0.028666
2020-11-09 17:45:00  0.061784 -0.168499  0.369034 -1.763627
2020-11-09 22:45:00  2.499982  0.619067  0.498644 -0.194807
2020-11-09 19:45:00  1.160540 -0.709525  0.525870 -1.371707
2020-11-09 14:45:00 -0.532964  0.035866  0.747826 -0.541964
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [23]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00   -0.532964
2020-11-09 15:45:00   -1.998492
2020-11-09 16:45:00   -1.192818
2020-11-09 17:45:00    0.061784
2020-11-09 18:45:00   -1.265576
2020-11-09 19:45:00    1.160540
2020-11-09 20:45:00    1.238647
2020-11-09 21:45:00   -0.729279
2020-11-09 22:45:00    2.499982
2020-11-09 23:45:00    1.170509
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00   -0.532964
2020-11-09 15:45:00   -1.998492
2020-11-09 16:45:00   -1.192818
2020-11-09 17:45:00    0.061784
2020-11-09 18:45:00   -1.265576
2020-11-09 19:45:00    1.160540
2020-11-09 20:45:00    1.238647
2020-11-09 21:45:00   -0.729279
2020-11-09 22:45:00    2.499982
2020-11-09 23:45:00    1.170509
Freq: H, Name: A, dtype: float64

In [24]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00 -0.532964  0.035866  0.747826 -0.541964
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844
                            A         B         C         D
2020-11-09 14:45:00 -0.532964  0.035866  0.747826 -0.541964
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844

### Selection by label

In [25]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]] #returns a copy!!!

A   -0.532964
B    0.035866
C    0.747826
D   -0.541964
Name: 2020-11-09 14:45:00, dtype: float64

In [26]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00 -0.532964  0.035866
2020-11-09 15:45:00 -1.998492  0.709610
2020-11-09 16:45:00 -1.192818  0.452223
2020-11-09 17:45:00  0.061784 -0.168499
2020-11-09 18:45:00 -1.265576 -0.688199
2020-11-09 19:45:00  1.160540 -0.709525
2020-11-09 20:45:00  1.238647  0.074705
2020-11-09 21:45:00 -0.729279  1.310025
2020-11-09 22:45:00  2.499982  0.619067
2020-11-09 23:45:00  1.170509 -0.548165

In [27]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00 -1.265576 -0.688199
2020-11-09 19:45:00  1.160540 -0.709525
2020-11-09 20:45:00  1.238647  0.074705

In [28]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-1.9984923862325485
-1.9984923862325485

### Selecting by position

In [29]:
# select via the position of the passed integers:
print (df.iloc[3],'\n') #returns a view!!!

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.061784
B   -0.168499
C    0.369034
D   -1.763627
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  0.061784 -0.168499
2020-11-09 18:45:00 -1.265576 -0.688199

In [30]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00 -1.998492  0.990042
2020-11-09 16:45:00 -1.192818  2.054111
2020-11-09 18:45:00 -1.265576  0.061726

In [31]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844

                            B         C
2020-11-09 14:45:00  0.035866  0.747826
2020-11-09 15:45:00  0.709610  0.990042
2020-11-09 16:45:00  0.452223  2.054111
2020-11-09 17:45:00 -0.168499  0.369034
2020-11-09 18:45:00 -0.688199  0.061726
2020-11-09 19:45:00 -0.709525  0.525870
2020-11-09 20:45:00  0.074705 -0.208178
2020-11-09 21:45:00  1.310025  0.140836
2020-11-09 22:45:00  0.619067  0.498644
2020-11-09 23:45:00 -0.548165  0.315368

In [32]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.7096096965627304

**Warning**: loc returns a copy, while iloc returns a view

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [33]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 14:45:00 -0.532964  0.035866  0.747826 -0.541964
2020-11-09 15:45:00 -1.998492  0.709610  0.990042 -1.127151
2020-11-09 16:45:00 -1.192818  0.452223  2.054111 -0.310844
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  0.219588
2020-11-09 21:45:00 -0.729279  1.310025  0.140836 -1.058700
2020-11-09 22:45:00  2.499982  0.619067  0.498644 -0.194807

In [34]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00       NaN  0.035866  0.747826       NaN
2020-11-09 15:45:00       NaN  0.709610  0.990042       NaN
2020-11-09 16:45:00       NaN  0.452223  2.054111       NaN
2020-11-09 17:45:00  0.061784       NaN  0.369034       NaN
2020-11-09 18:45:00       NaN       NaN  0.061726  1.494471
2020-11-09 19:45:00  1.160540       NaN  0.525870       NaN
2020-11-09 20:45:00  1.238647  0.074705       NaN  0.219588
2020-11-09 21:45:00       NaN  1.310025  0.140836       NaN
2020-11-09 22:45:00  2.499982  0.619067  0.498644       NaN
2020-11-09 23:45:00  1.170509       NaN  0.315368  0.028666

### Setting

Combination of selection and setting of values

In [35]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [36]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826  5  0.0        0  1.000000
2020-11-09 15:45:00 -1.998492  0.709610  0.990042  5  0.5        2  0.999962
2020-11-09 16:45:00 -1.192818  0.452223  2.054111  5  1.0        4  0.999848
2020-11-09 17:45:00  0.061784 -0.168499  0.369034  5  1.5        6  0.999657
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  5  2.0        8  0.999391
2020-11-09 19:45:00  1.160540 -0.709525  0.525870  5  2.5       10  0.999048
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.729279  1.310025  0.140836  5  3.5       14  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0       16  0.997564
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  5  4.5       18  0.996917

In [37]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.035866 -0.747826 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -1.998492 -0.709610 -0.990042 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -1.192818 -0.452223 -2.054111 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -0.061784 -0.168499 -0.369034 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -1.265576 -0.688199 -0.061726 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -1.160540 -0.709525 -0.525870 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -1.238647 -0.074705 -0.208178 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.729279 -1.310025 -0.140836 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -2.499982 -0.619067 -0.498644 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -1.170509 -0.548165 -0.315368 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [38]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime']) #this is just a copy

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826  5  0.0  1.000000
2020-11-09 15:45:00 -1.998492  0.709610  0.990042  5  0.5  0.999962
2020-11-09 16:45:00 -1.192818  0.452223  2.054111  5  1.0  0.999848
2020-11-09 17:45:00  0.061784 -0.168499  0.369034  5  1.5  0.999657
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  5  2.0  0.999391
2020-11-09 19:45:00  1.160540 -0.709525  0.525870  5  2.5  0.999048
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  5  3.0  0.998630
2020-11-09 21:45:00 -0.729279  1.310025  0.140836  5  3.5  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0  0.997564
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  5  4.5  0.996917

In [39]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826  5  0.0        0  1.000000
2020-11-09 19:45:00  1.160540 -0.709525  0.525870  5  2.5       10  0.999048
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.729279  1.310025  0.140836  5  3.5       14  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0       16  0.997564
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  5  4.5       18  0.996917

In [40]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826  5  0.0        0  1.000000
2020-11-09 15:45:00 -1.998492  0.709610  0.990042  5  0.5        2  0.999962
2020-11-09 16:45:00 -1.192818  0.452223  2.054111  5  1.0        4  0.999848
2020-11-09 17:45:00  0.061784 -0.168499  0.369034  5  1.5        6  0.999657
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  5  2.0        8  0.999391
2020-11-09 19:45:00  1.160540 -0.709525  0.525870  5  2.5       10  0.999048
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.729279  1.310025  0.140836  5  3.5       14  0.998135
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value __np.nan to represent missing data__. It is by default not included in computations.

In [41]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.035866  0.747826  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN  0.709610  0.990042  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN  0.452223  2.054111  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.061784       NaN  0.369034  5  1.5      6.0  0.999657
2020-11-09 18:45:00       NaN       NaN  0.061726  5  2.0      8.0  0.999391
2020-11-09 19:45:00  1.160540       NaN  0.525870  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.238647  0.074705       NaN  5  3.0     12.0  0.998630
2020-11-09 21:45:00       NaN  1.310025  0.140836  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.170509       NaN  0.315368  5  4.5     18.0  0.996917

In [42]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0     16.0  0.997564

In [43]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True  False  False  False   True     True   False
2020-11-09 15:45:00   True  False  False  False  False    False   False
2020-11-09 16:45:00   True  False  False  False  False    False   False
2020-11-09 17:45:00  False   True  False  False  False    False   False
2020-11-09 18:45:00   True   True  False  False  False    False   False
2020-11-09 19:45:00  False   True  False  False  False    False   False
2020-11-09 20:45:00  False  False   True  False  False    False   False
2020-11-09 21:45:00   True  False  False  False  False    False   False
2020-11-09 22:45:00  False  False  False  False  False    False   False
2020-11-09 23:45:00  False   True  False  False  False    False   False

In [44]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826  5  0.0      0.0  1.000000
2020-11-09 15:45:00  0.000000  0.709610  0.990042  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.000000  0.452223  2.054111  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.061784  0.000000  0.369034  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.000000  0.000000  0.061726  5  2.0      8.0  0.999391
2020-11-09 19:45:00  1.160540  0.000000  0.525870  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.238647  0.074705  0.000000  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.000000  1.310025  0.140836  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.170509  0.000000  0.315368  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [46]:
df_wNan.fillna(method='pad') #eg: 21 22 23 Nan 25 ... -> 21 22 23 24 25

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.035866  0.747826  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN  0.709610  0.990042  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN  0.452223  2.054111  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.061784  0.452223  0.369034  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.061784  0.452223  0.061726  5  2.0      8.0  0.999391
2020-11-09 19:45:00  1.160540  0.452223  0.525870  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.238647  0.074705  0.525870  5  3.0     12.0  0.998630
2020-11-09 21:45:00  1.238647  1.310025  0.140836  5  3.5     14.0  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.170509  0.619067  0.315368  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [47]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.094530
B          0.108711
C          0.549528
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.969099
2020-11-09 15:45:00    1.171589
2020-11-09 16:45:00    1.759052
2020-11-09 17:45:00    1.965997
2020-11-09 18:45:00    2.015334
2020-11-09 19:45:00    2.782276
2020-11-09 20:45:00    3.157686
2020-11-09 21:45:00    3.459960
2020-11-09 22:45:00    4.230751
2020-11-09 23:45:00    4.204947
Freq: H, dtype: float64

In [48]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826   5   0.0        0  1.000000
2020-11-09 15:45:00 -1.998492  0.745476  1.737868  10   0.5        2  1.999962
2020-11-09 16:45:00 -3.191310  1.197699  3.791980  15   1.5        6  2.999810
2020-11-09 17:45:00 -3.129526  1.029200  4.161014  20   3.0       12  3.999467
2020-11-09 18:45:00 -4.395102  0.341001  4.222739  25   5.0       20  4.998858
2020-11-09 19:45:00 -3.234562 -0.368524  4.748609  30   7.5       30  5.997906
2020-11-09 20:45:00 -1.995915 -0.293818  4.540431  35  10.5       42  6.996536
2020-11-09 21:45:00 -2.725194  1.016206  4.681267  40  14.0       56  7.994670
2020-11-09 22:45:00 -0.225212  1.635273  5.179911  45  18.0       72  8.992234
2020-11-09 23:45:00  0.945297  1.087109  5.495278  50  22.5       90  9.989152

In [49]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.035866  0.747826  5  0.0        0  1.000000
2020-11-09 15:45:00 -1.998492  0.709610  0.990042  5  0.5        2  0.999962
2020-11-09 16:45:00 -1.192818  0.452223  2.054111  5  1.0        4  0.999848
2020-11-09 17:45:00  0.061784 -0.168499  0.369034  5  1.5        6  0.999657
2020-11-09 18:45:00 -1.265576 -0.688199  0.061726  5  2.0        8  0.999391
2020-11-09 19:45:00  1.160540 -0.709525  0.525870  5  2.5       10  0.999048
2020-11-09 20:45:00  1.238647  0.074705 -0.208178  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.729279  1.310025  0.140836  5  3.5       14  0.998135
2020-11-09 22:45:00  2.499982  0.619067  0.498644  5  4.0       16  0.997564
2020-11-09 23:45:00  1.170509 -0.548165  0.315368  5  4.5       18  0.996917

In [50]:
df.apply(lambda x: x.max() - x.min())

A           4.498475
B           2.019550
C           2.262289
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [51]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00    0.035866
2020-11-09 15:45:00   -1.288883
2020-11-09 16:45:00   -0.740594
2020-11-09 17:45:00   -0.106715
2020-11-09 18:45:00   -1.953775
2020-11-09 19:45:00    0.451014
2020-11-09 20:45:00    1.313353
2020-11-09 21:45:00    0.580745
2020-11-09 22:45:00    3.119049
2020-11-09 23:45:00    0.622344
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [57]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="/home/lorenzo/data/data_000637.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [58]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [59]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')